:root {
    --section-width: 83%;
}

.hero--container {
    width: 100%;
    height: fit-content;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.hero {
    width: 100%;
    min-height: 450px;
    z-index: -1;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    align-items: center;
    justify-content: flex-end;

    opacity: .9;
    background: url("../assets/hero_two.jpg") center top/100% no-repeat;
    
}

.hero--title {
    width: 50%;
    margin-bottom: .6rem;

    opacity: 1;
    font-size: 4rem;
    font-weight: bold;
    
    background: linear-gradient(to right, springgreen, greenyellow,  aquamarine);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;


}

.hero--subtitle {
    width: 50%;
    margin-bottom: 50px;

    opacity: 1;
    color: snow;

    font-weight: 600;
    font-size: 14px;
}


.container {
    width: 100%;
    min-height: 25vh;

    padding-top: 1em;

    display: flex;
    flex-direction: column;
    
    justify-content: center;

    z-index: 1;
    box-shadow: 0 -2rem 2rem rgb(35,35,35);
    
}

.hero--input {
    width: var(--section-width);
    margin: auto;

    position: relative;
    display: flex;
    
    justify-content: space-between;
    flex-direction: row;
    
    align-items: center;
    
}

.hero--input---element {
    position: relative;

    width: 85%;
    height: 3.5em;

    border-radius: 10px;
    border: 4px solid rgb(65, 65, 65);

    font-size: large;
    font-weight: lighter;
    text-indent: 3%;

    resize: none;
    outline: none;
}

.hero--input---element::-webkit-input-placeholder {
    font-weight: lighter;
    text-indent: 3%;
}

.hero--input---generate {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    z-index: 1;
    width: max-content;

    border: 0;
    border-collapse: collapse;
    border-radius: 10px;

    height: 4em;
   
    margin-left: .5rem;
    padding: 1px 15px;

    text-decoration: none;
    font-size: medium;
    font-weight: bold;

    cursor: pointer;
    color: #2b2b2b;
    background-color: #62ff93;
    left: 0;
}


.hero--ideas {
    width: 100%;
    display: flex;

    justify-content: center;
    align-items: center;
}


.hero--ideas---title {
    text-align: left;
    margin-right: 7px;
    cursor: pointer;
}

.hero--ideas---cards {
    width: var(--section-width);
    
    margin: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: safe;
    align-items: center;

    font-size: small;
}


.suggestion_card:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 850px) {
    .hero {
        background: none;
        opacity: 1;
    }

    .hero--title {
        font-size: 35px;
    }
    
}