.showcase {
    display: flex;
    flex-direction: column;

    width: 100%;
    min-height: 80vh;
}



.showcase--list {
    width: fit-content;
    height: fit-content;

    margin: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

}

.showcase--item {
    display: flex;
    flex-direction: row;
    margin: auto;

    width: 80%;
    min-height: 15vh;

    margin-top: 3rem;
}

.showcase--item---image {
    min-height: 300px;
    max-height: 350px;
    width: auto;

    border-radius: 10px;
}

.showcase--item---content {
    width: 60%;
    margin: auto;
    margin-left: 25px;
    margin-right: 25px;

    display: flex;
    flex-direction: column;

    text-align: left;
}


.showcase--content---title {
    width: 100%;
    font-size: 40px;   
}


.showcase--content---text {
    width: 100%;
    font-size: 20px;

}

@media screen and (max-width: 950px) {
    .showcase--item {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

        align-items: center;
    }


    .right {
        flex-direction: column-reverse;
    }

    
    .showcase--item---image {
        width: min-content;
        aspect-ratio: 1;
    }


    .showcase--content---title {
        text-align: center;
    }

    .showcase--content---text {
        text-align: center;
    }

    

}